[[source]]

url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"


[packages]

motor = "*"
aiohttp = "*"
uvloop = "*"
python-dotenv = "*"
logzero = "*"
pymongo = "*"


[dev-packages]

ipython = "*"
