[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

python-dotenv = "*"
aiomysql = "*"
ontology-python-sdk = "*"
uvloop = "*"
pytz = "*"
logzero = "*"
aiohttp = "*"


[dev-packages]



[requires]

python_version = "3.7"
