[[source]]

url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "*"
uvloop = "*"
python-dotenv = "*"
logzero = "*"
"base58" = "*"
aiomysql = "*"
apscheduler = "*"
bitcoin = "*"
ontology-python-sdk = "*"


[dev-packages]

ipython = "*"
